{% extends "base.html" %}

{% block content %}
<head>
    <script type="text/javascript">
function show_confirm(item)
{
var r=confirm("Вы точно хотите отменить заказ?");
if (r==true)
  {
  window.location.replace("/delete_order/" + item);
  alert("Мы благодарим Вас за сотрудничество");
  }
}


    </script>
</head>


{% if "username" in session %}
<h2>{{session['username']}}</h2>
{% endif %}
<a href="/upload_file">Добавить заказ</a>
<a href="/title">Главная</a>
{% for item in news %}
<div class="alert alert-dark" role="alert">
    <h2><a href="/order/{{item[0]}}">{{item[1]}}</a></h2>
    <input type="button" onclick="show_confirm({{item[0]}})" value="Отменить заказ">
    {%if item[4] == 'Доставка заказа'%}
    <a href="/parsed/{{item[0]}}">Подтвердить получение заказа</a>
    {%endif%}
</div>
{% endfor %}
{% endblock %}