{% extends "base.html" %}

{% block content %}
    <header>
        <h2>3D моделирование</h2>
        <h4>3D моделирование осуществляется в программе Blender, а слайсинг и печать через программу Repetier-Host V1.5.5 .</h4>
        <a href='https://www.blender.org/Download/'>Ссылка на скачивание Blender с официального сайта</a>
        <a href='https://www.repetier.com'>Ссылка на официальный сайт Repetier</a>
        <h6>Проконсультироваться с нами по вопросам 3D печати вы можете <a href='/contact'>здесь</a></h6>
        <h5>Уроки 3D моделирования на Blender</h5>
        <iframe src='https://www.youtube.com/embed/watch?v=T0R3W8vM8tU&list=PLVcDI9YWArtZEQjc_GeDmMTZ9IiQsnMFv&index=5'></iframe>
        <a href='https://www.youtube.com/channel/UC_LE2Onjswduw-wBOITyl1w'>Ссылка на канал Александра</a>
    </header>
<a href="/title">Главная</a>
{% endblock %}