{% extends "base.html" %}

{% block content %}
<header>
    <nav class="navbar navbar-light bg-light">
        <h3>{{username}}</h3><a class="navbar-brand" href="/out">Выйти</a>
    </nav>
    <nav class="navbar navbar-light bg-light"><a class="navbar-brand" href="/processed_orders">Заказы на обработке</a></nav>
    <nav class="navbar navbar-light bg-light"><a class="navbar-brand" href="/delivery_orders">Доставка заказов</a></nav>
    <nav class="navbar navbar-light bg-light"><a class="navbar-brand" href="/parsed_orders">Обработанные заказы</a></nav>
</header>
{% endblock %}