{% extends "base.html" %}

{% block content %}
<header>
    <nav class="navbar navbar-light bg-light">
        <h3>{{username}}</h3><a class="navbar-brand" href="/myorders">Мои заказы</a><a class="navbar-brand" href="/chat/1">Чат с производителем</a>
        <a class="navbar-brand" href="/out">Выйти</a>
    </nav>
    <h3>О нашей организации</h3>
    <h6>{{text1}}</h6>
    <nav class="navbar navbar-light bg-light"><a class="navbar-brand" href="/lab">Наша
        лаболатория</a></nav>
    <nav class="navbar navbar-light bg-light"><a class="navbar-brand" href="/upload_file">Оформить
        заказ</a></nav>
    <nav class="navbar navbar-light bg-light"><a class="navbar-brand" href="/contact">Контакты и
        консультации по 3D печати</a></nav>
    <nav class="navbar navbar-light bg-light"><a class="navbar-brand" href="/filament">Прайс-лист</a></nav>
</header>
{% endblock %}