<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>{{title}}</title>
</head>
  <body>
    <header>
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Приложение</a>
          {% if "username" in session %}
              <a class="navbar-brand" href="/">Просмотр задач</a>
              <a class="navbar-brand" href="/add_task/0">Добавить задачу</a>
          {% endif %}
          {% if user_id in admins_id %}
              <a class="navbar-brand" href="/site_users">Пользователи сайта</a>
          {% endif %}
            {% if "username" in session %}
                         <a class="navbar-brand" href="/logout">Выйти из {{session['username']}}</a>
           {% endif %}

      </nav>
    </header>
    <!-- Begin page content -->
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>
  </body>
</html>
